@model  MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Urun adı</label>
        <input type="text" class="form-control" name="URUNAD" />
    </div>
    <div>
        <label>markası</label>
        <input type="text" class="form-control" name="MARKA" />
    </div>
    <div>
        <label>kategori seçiniz</label>
        @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr,new { @class="form-control"})
    </div>
    <div>
        <label>fıyatı</label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <div>
        <label>stok adeti</label>
        <input type="text" class="form-control" name="STOK" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">urun ekle</button>
    </div>

</form>

