
@{
    ViewBag.Title = "Yenikategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori adı</label>
        <input type="text" class="form-control" name="KATEGORIAD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">kategori ekle</button>
    </div>

</form>

